@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');


*,*:after,*:before{
margin:0;
padding:0;

}

body,html{
height:100%;
font-family: 'Roboto Slab', serif;
}
 
body{
font-smoothing:antialiased;
text-rendering:optimizeLegibility;
-webkit-text-size-adjust:none;
-ms-text-size-adjust:none;
text-size-adjust:none;

}

body.no-touch{
overflow:visible
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}




.text-fondo-blanco {
  color: #6f8393;
  font-weight: bold;
  font-size: 14px;
}

#main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
   -webkit-transition: background 500ms ease;
-moz-transition: background 500ms ease;
-ms-transition: background 500ms ease;
-o-transition: background 500ms ease;
transition: background 500ms ease;
}

#main-header.mini,#main-header:hover {
  background-color: white;
}



.navbar {
 border-radius: 0px;
 
}

.navbar-brand {
  margin-top: -5%;
  margin-bottom: -5%;
}

.nav-item {
  position: relative;
 padding: 20px 10px 0px 10px;
  float: left;
  text-align: center;
  font-weight: bold;
  
}



.nav-link {
  text-decoration: none;
  background-color: transparent !important;
  color: #415965;
  font-size: 16px; 
}

.nav-link:hover, .nav-link:focus {
  color: #4e5961;
}

.section-1 {
  position:relative;
  width:100%;
  height:100%;
  background-color: #54d5fa !important;
}

.section-2 {
  margin-top: 0%;
  margin-bottom: 10%;
}

.section-3 {
  margin-top: 0%;
  margin-bottom: 10%;
}

.sliders-index {
  position:relative;
  margin-top: 0%;
  width:100%;
  height:100%;

  box-sizing:border-box;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;

}

.slider1 {
  background-color: #54d5fa !important;
  background-image: url(../img/imagen4.jpg);
  background-repeat: no-repeat;
  background-position: bottom;

}

.slider2 {
  background-color: #415965 !important;
  background-image: url(../img/imagen5.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.slider3 {
  background-color: #65dfb6 !important;
  background-image: url(../img/imagen6.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
}



.heading-1 {
  margin-top: -15%;
  margin-left: 0%;
  font-weight: bold;
}

.heading-2 {
  margin-right: 10%;
  margin-left: 25%;
  color: #6f8393;
  font-size: 40px;
  font-weight: bold;
  text-align: right;
}

.heading-3 {
  margin-right: 10%;
  color: #6f8393;
  font-size: 23px;
  font-weight: bold;
  text-align: right;
}

.heading-4 {
  color: #6f8393;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.paragraph-1 {
  margin: 5% 0% 10% 0%;
  color: hsla(0, 0%, 100%, 0.82);
  font-size: 16px;
  text-align: left;
  letter-spacing: 0.1px;
}


.paragraph-2 {
  margin-right: 10%;
  color: #6f8393;
  text-align: justify;
  font-size: 17px;
}

.paragraph-3 {
  margin-right: 5%;
  color: #6f8393;
  font-size: 17px;
}

.paragraph-4 {
  color: #6f8393;
  font-size: 17px;
  text-align: center;
  line-height: 
}

.button-1 {
  margin-left: 0%;
  padding: 15px 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #65dfb6 !important;
  border-radius: 25px;
  color: hsla(0, 0%, 100%, 0.82) !important;
  background-color: #65dfb6 !important;
  box-shadow: 0 5px 6px 0 rgba(30, 169, 242, 0.51);
}

.sliders-index-controls {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 200px;
  z-index: 1;
}

.list-inline {
    padding-left: 0;
    margin-left: 100px;
    list-style: none;
}

.list-inline>li {
  width: 100px;
  text-align: center;
    display: inline-block;
    padding: 5px;
}

.list-inline-item {
   display: inline-block;
  border-top-style: solid;
  border-top-width: 4px;
  border-top-color: #0e4289 !important;
  font-weight: bold;
}


.list-inline-a {
  text-decoration: none;
  background-color: transparent !important;
  color: #415965;
  font-size: 14px; 
}

.list-inline-a:hover, .list-inline-a:focus {
  color: #4e5961;
}

.container-1 {
  margin-top: 5%;
  
}

.container-2 {
  margin-top: 10%;
  margin-right: 15%;
  margin-left: -5%;
  
}

.container-2-a {
  margin-top: 10%;
  margin-bottom: 5%;
}

.container-3 {
  margin-top: -5%;
  
}

@media screen and (max-width: 1400px) {
  .slider1, .slider2, .slider3 { background-size: 1400px; }
  .sliders-index-controls { 
  bottom: 120px;
}
  }

/*.container-5 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}*/

.column {
  height: 100%;
  margin-top: 10%;
}

.column-2 {
  height: 100%;
  border: 0px none #000;
}



.columns {
  margin-right: 0%;
  margin-left: 0%;
  border: 1px none #000;
}

.text-span {
  color: #fff;
}



.image {
  top : 0%;
  border: 1px none #000;
}



.text-block {
  margin-left: 10%;
  padding-right: 10%;
  text-align: right;
}

.grid {
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 10%;
  padding-right: 0%;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.div-block-2 {
  margin-right: 5%;
}




.div-block-3 {
  background-color: #415965;
}

.nav-link {
  margin-left: 0%;
  font-size: 14px;
}

.nav-link-2 {
  font-size: 14px;
}

.nav-link-3 {
  font-size: 14px;
}

.nav-link-4 {
  font-size: 14px;
}

.nav-link-5 {
  font-size: 14px;
}

.nav-link-6 {
  font-size: 14px;
}

.dropdown-toggle {
  font-size: 12px;
}


.column-3 {
  margin-top: 5%;
}

.columns-2 {
  margin-left: 0%;
}

.div-block-4 {
  margin-left: 10%;
}

.image-6 {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  margin-top: -5%;
  margin-right: 10%;
  float: right;
  text-align: right;
}

.columns-3 {
  margin-right: 0%;
  margin-left: 0%;
}

.image-7 {
  position: absolute;
  left: 8%;
  top: 5%;
  right: 0%;
  bottom: 0%;
  width: 85%;
}

.image-8 {
  position: static;
  width: 100%;
  height: 100%;
}

.columns-4 {
  margin-left: 0%;
}

.container-6 {
  margin-left: 10%;
}

.text-block-2 {
  font-size: 14px;
}